<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render( "~/main/style" )
</head>
<body>
    <header>
            @Html.ActionLink( "Code for Fun", "BoxGame", "Home", new { @class ="title" } )
    </header>
    <div id="LayoutContainer">
        <nav>
            @Html.ActionLink( "Spinnin' Boxes Game", "BoxGame", "Home", null, new { id = "Game" } )
            @Html.ActionLink( "Car Registry", "CarRegistry", "Home", null, new { id = "CarRegistry" } )
        </nav>
        <section>
            @RenderBody()
        </section>

        @section scripts
        {
            <script>
                $('#Game').addClass('active');
            </script>
        }

        <footer>
            @DateTime.Now.Year - &copy; David Karlinski 
        </footer>
    </div>
        @RenderSection( "scripts", required: false )
</body>
</html>
